{% extends 'extras/navegacion.html' %}
{% load static %}
{% block pag %}

<h1>Eliminar Tienda</h1>

<form method="POST">
    {% csrf_token %}

    <input 
        type="text" 
        name="kword" 
        placeholder="Nombre de la tienda a eliminar" 
        class="textinp"
    >

    <button type="submit">Eliminar</button>
</form>

{% if mensaje %}
    <p style="color: green;">{{ mensaje }}</p>
{% endif %}

{% if error %}
    <p style="color: red;">{{ error }}</p>
{% endif %}

{% endblock %}
