{% extends 'extras/navegacion.html' %}

{% load static %}

{% block pag %}

<title> Home </title>

<h1>¡Bienvenidos a mi sitio Web!</h1>


<img src="{% static 'icono.png' %}" alt="" width="150">


<p>En la actualidad, las tiendas online representan una solución eficiente para comprar productos y servicios de manera rápida y confiable. A través de plataformas digitales, los usuarios pueden acceder a una amplia oferta, revisar características, comparar precios y realizar sus compras de forma sencilla desde cualquier dispositivo. La disponibilidad permanente y la facilidad de uso permiten una experiencia cómoda y personalizada, mientras que los negocios pueden fortalecer su presencia digital, llegar a más clientes y optimizar sus procesos de venta, adaptándose a las exigencias del mercado moderno.</p>

{% endblock %}