{% extends 'extras/navegacion.html' %}
{% block pag %}

<h1>Actualizar Tienda</h1>

<!-- BUSCAR TIENDA -->
<form method="GET">
    <input type="text" name="kword" placeholder="Nombre de la tienda">
    <button type="submit">Buscar</button>
</form>

{% if error %}
    <p style="color:red;">{{ error }}</p>
{% endif %}

{% if forms %}
    <h3>Editar Tienda</h3>

    <form method="POST">
        {% csrf_token %}
        <input type="hidden" name="name_original" value="{{ store.name }}">
        {{ forms.as_p }}
        <button class="btn">Guardar Cambios</button>
    </form>

    <!-- FORMULARIO PARA ELIMINAR TIENDA -->
    <form method="POST" style="margin-top:20px;">
        {% csrf_token %}
        <input type="hidden" name="name_original" value="{{ store.name }}">
        <input type="hidden" name="delete" value="1">
        <button class="btn" style="background:red; color:white;">
            Eliminar Tienda
        </button>
    </form>
{% endif %}

{% endblock %}
